.infoCardHeadline {
    font-family: 'MyHelvetica';
    font-size: clamp(20px, 8vw, 90px);
    font-weight: bold;
    color: rgb(255, 196, 0);
    text-shadow: 0 0 4px rgb(0, 0, 0);
    max-width: 100%;

}

.infoCardCallActionContainer :global(.vtex-button) {
    margin-top: 18%;
    background-color: transparent;
    margin-left: 50%;
    color: gray;
    border-color: gray;

}

.infoCardCallActionContainer :global(.vtex-button):hover {
    border-color: rgb(255, 196, 0);
    color: rgb(255, 196, 0);
}

.infoCardContainer {
    align-items: center;
    background-image: url(https://i.ibb.co/TgNK69K/fundo-texturizado.png);
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.infoCardTextContainer {
    padding-left: 4%;
    align-self: center;
}

.infoCardSubhead {
    color: black;
    max-width: 300px;
    margin: 0;
    font-size: calc(0.0.8em + 1vw);
    font-family: 'MyHelvetica';
    line-height: 28px;
}

.imageElemet {
    height: 30px;
}

.carouselContainer {
    max-width: 90%;
    position: center;
}

.imageElement--cover {
    object-fit: cover;
}